
Clusterization/Crime Data in Brazil/BO_2007_1.csv
Categorization/creditFraud/creditcard.csv
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/Ciencias-de-dados.iml
