
Clusterization/Crime Data in Brazil/BO_2007_1.csv
Categorization/creditFraud/creditcard.csv
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/Ciencias-de-dados.iml
EDA/Crime Data in Brazil/archive/RDO_methodology.txt
EDA/Crime Data in Brazil/archive/RDO_column_description.csv
EDA/Crime Data in Brazil/archive/RDO_3.csv
EDA/Crime Data in Brazil/archive/RDO_2.csv
EDA/Crime Data in Brazil/archive/RDO_1.csv
EDA/Crime Data in Brazil/archive/BO_2016.csv
EDA/Crime Data in Brazil/archive/BO_2015.csv
EDA/Crime Data in Brazil/archive/BO_2014_2.csv
EDA/Crime Data in Brazil/archive/BO_2014_1.csv
EDA/Crime Data in Brazil/archive/BO_2013_2.csv
EDA/Crime Data in Brazil/archive/BO_2013_1.csv
EDA/Crime Data in Brazil/archive/BO_2012_2.csv
EDA/Crime Data in Brazil/archive/BO_2012_1.csv
EDA/Crime Data in Brazil/archive/BO_2011_2.csv
EDA/Crime Data in Brazil/archive/BO_2011_1.csv
EDA/Crime Data in Brazil/archive/BO_2010_2.csv
EDA/Crime Data in Brazil/archive/BO_2010_1.csv
EDA/Crime Data in Brazil/archive/BO_2009_2.csv
EDA/Crime Data in Brazil/archive/BO_2009_1.csv
EDA/Crime Data in Brazil/archive/BO_2008_2.csv
EDA/Crime Data in Brazil/archive/BO_2008_1.csv
EDA/Crime Data in Brazil/archive/BO_2007_2.csv
EDA/Crime Data in Brazil/archive/BO_2007_1.csv
